<%- include('header') %>


<div class="bread">
    <ul class="breadcrumbs" style="padding-top: 0;padding-bottom: 0;">
         <li class="breadcrumbs--item">
             <a href="<%= base_url %>" class="breadcrumbs--link breadcrumbs" style="display:inline;text-decoration:none">HOME</a>
          
         <li class="breadcrumbs--item">
             <a href="<%= base_url %>accounts" class="breadcrumbs--link breadcrumbs--link--active">ACCOUNTS</a>
         <!-- </li> <li class="breadcrumbs--item">
             <a href="#" class="breadcrumbs--link">QUOTES</a>
         </li> -->
         <a href="<%= base_url %>accounts"><i class="fa fa-pen" style="margin-left:1048px;border:1px solid black;padding:7px;font-size: 17px; border: none;color:black"></i></a>
         
         <a href="<%= base_url %>accoutslistings" style="text-decoration: none;color:white;"><i class="fa fa-table" style="border:1px solid black;padding:7px;font-size: 17px;border: none;background-color:#216c98"></i></a>
       </li> 
     </ul>
     <hr class="hr" style="height:1.5px">
     </div>
    </div>
     <div class="content-bar" style="top:68px;">
     <ul>
         <a href="<%= base_url %>"><li>
             <span class="icon"><i class="fas fa-home"></i></span>
             <span class="item">HOME</span>
         </li></a>
         <a href="<%= base_url %>Accounts"><li class="active1">
             <span class="icon"><i class="fa-solid fa-book-open"></i></span>
             <span class="item">ACCOUNTS</span>
         </li></a>
         <a href="Quotes.html"><li>
             <span class="icon"><i class="fa fa-dollar"></i></span>
             <span class="item">QUOTES</span>
         </li></a>
         <a href="Demand.html"><li>
             <span class="icon"><i class="fa fa-user"></i></span>
             <span class="item">DEMAND</span>
         </li></a>
         <a href="Forecast.html"><li>
             <span class="icon"><i class="fa fa-line-chart"></i></span>
             <span class="item">FORECAST</span>
         </li></a>
         <a href="<%= base_url %>catalog">
             <span class="icon"><i class="fa fa-eye"></i></span>
             <span class="item">CATALOG</span>
            </li> </a>
         <a href="Admin.html"><li>
             <span class="icon"><i class="fa fa-cog"></i></span>
             <span class="item">ADMIN</span>
             </li></a>
     </ul>
     </div>
     <div>
         <div class="helpbox" style="z-index: 2;">
             <button><a href="#divOne" class="button1"><img src="HelpIcon.png" alt="Icon" style="height:35px;width:35px;"></a></button>      
         </div>
         <div class="overlay" id="divOne">
             <div class="wrapper">
                 <p class="head">LOG A SUPPORT REQUEST</p><br>
                 <a href="#" class="close">&times;</a>
                 <div class="content">
                     <div class="container1">
                         <form>
                             
                             <label>Summary:</label>
                             <input type="text" class="help">
                             <label>Description:</label>
                             <textarea rows="8" cols=""></textarea>
                             <label>Priority(Optional):</label><br>
                            <select name="format" id="format">
                             <option selected disabled>Select..</option>
                            <option value="critical">Critical</option>
                            <option value="high">High</option>
                            <option value="medium">Medium</option>
                            <option value="low">Low</option>
                            <option value="lowest">Lowest</option>
                            </select><br><br>
                            <label>Attachment(optional):</label><br>
                            <input type="file"><br><br>
                            <label>Your contact e-mail:</label><br>
                            <input type="email" class="em"><br><br>
                            <input type="submit" value="Send">
                         
                         </form>
                     </div>
                 </div>
             </div>
         </div>
         </div>
         <!-- account -->
         <!-- ====================================================== -->
         <div class="acl">
            <b>ACCOUNTS LISTING</b>
         </div>
         <button class="xlbutton" onclick="exportData()">
             <span class="fa fa-file-excel-o"></span></button>
         <div class="list">
             <table id="tblStocks" cellpadding="0" cellspacing="0">
                 <tr class="ellipsis">
                     <th>Account Name</th>
                     <th>Owner</th>
                     <th>Teritory</th>
                     <th>Vertical</th>
                     <th>Industry</th>
                     <th>xcelaerate partner</th>
                     <th>Commercial Region</th>
                     <th>Commercial Sub Region</th>
                     <th>Vat Number</th>
                     <th>Delivery Area</th>
                   </tr>
                   <tr>
                     <td>Life HealthCare INC</td>
                     <td>A</td>
                     <td>35.58</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                     <td>35.58</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                   </tr>
                   <tr>
                     <td>Life HealthCare INC</td>
                     <td>A</td>
                     <td></td>
                     <td></td>
                     <td>+8.06</td>
                     <td>35.58</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                   </tr>
                    <tr>
                     <td>Life HealthCare INC</td>
                     <td>A</td>
                     <td></td>
                     <td></td>
                     <td>+8.06</td>
                     <td>35.58</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                   </tr>
                   <tr>
                     <td>Life HealthCare INC</td>
                     <td>A</td>
                     <td></td>
                     <td></td>
                     <td>+8.06</td>
                     <td>35.58</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                     <td>38.45</td>
                     <td>+8.06</td>
                   </tr>
                   
             </table>
             <br />
             <!-- <button onclick="exportData()">
                 <span class="glyphicon glyphicon-download"></span>
                 Download Excel</button> -->
 
 
         </div>
         <!-- ====================================================== -->

<%- include('footer') %>
