    <!-- <script src="https://code.jquery.com/jquery-3.6.3.js"></script> -->
    <script type="text/javascript">
        $(document).on('click',' ul a li',function(){
            $(this).addClass('active1').siblings().removeClass('active1')
        })
    </script>
    <script src="<%= base_url %>js/serachicon.js"></script>
    <script src="<%= base_url %>js/profile dropdown.js"></script>
    <script src="<%= base_url %>js/homebox.js"></script>

    <!-- <script src="js/downloadFile.js"></script> -->
    <script src="<%= base_url %>js/AccountsSlideBar.js"> </script>
    <script src="<%= base_url %>js/OpportunityDetailsjs.js"></script>
    <script src="<%= base_url %>js/tablehide.js"></script>
    <script src="<%= base_url %>js/showmore.js"></script>
    <script src="<%= base_url %>js/serachicon.js"></script>
    <script src="<%= base_url %>js/profile dropdown.js"></script>
    <script src="<%= base_url %>js/accountflex.js"></script>
    <script src="<%= base_url %>js/AccountListingjs.js"></script>
    <script src="<%= base_url %>js/opportunitiesTable.js"></script>
    <script src="<%= base_url %>js/SurveyShowMore.js"></script>
    <script src="<%= base_url %>js/Surveyflex.js"></script>
    <script src="<%= base_url %>js/SurveySection.js"></script>
    <script src="<%= base_url %>js/sideBar.js"></script>

</body>
</html>  