<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Design</title>

    <link rel="stylesheet" href="<%= base_url %>css/Style.css">
    <link rel="stylesheet" href="<%= base_url %>css/home.css">
    <link rel="stylesheet" href="<%= base_url %>css/Accounts.css">
    <link rel="stylesheet" href="<%= base_url %>css/rightside.css">
    <link rel="stylesheet" href="<%= base_url %>css/opportunities.css">
    <!-- <link rel="stylesheet" href="css/exceldownloadcss.css"> -->
    <link rel="stylesheet" href="<%= base_url %>https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= base_url %>css/AccountListingcss.css">
    <link rel="stylesheet" href="<%= base_url %>css/OpportunityData.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width: 100%;overflow-x: hidden;">
    <div class="navandbread" style="width: 100%;">
        <nav>
            <div class="search">
                <div class="icon"></div>
                <div class="input">
                    <input type="text" placeholder="Search..." id="mysearch">
                </div>
                <span class="clear" onclick="document.getElementById('mysearch').value=''"></span>
            </div>
            <!-- <div class="search-bar">
        <input type="text" placeholder="search....">
        <a href=""><li class="fas fa-search"></li></a>
        </div>-->
            <div class="navset">
                <span style="margin-right: 30px;"><a href="#"><button
                            style="padding-top: 4px;font-family: 'Courier New';font-weight: bold;">DEFAULT</button></a></span>
                <span class="icon"><a href="#"><i class="fas fa-clock"
                            style="font-size:20px;color: azure;margin-right: 31px;"></i></a></span>
                <span class="icon"><a href="#"><i class="fa fa-bell"
                            style="font-size:20px;color: azure; margin-right: 31px;"></i></a></span>
                <div class="dropdown">
                    <li onclick="myFunction()" class="fa fa-user"
                        style="font-size:20px;color: azure; margin-right: 20px;"></li>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">My Profile</a>
                        <a href="#about">What's New?</a>
                        <a href="<%= base_url %>api/logout">Logout</a>
                    </div>
                </div>
        </nav>
        
    <div>
        <div class="helpbox" style="z-index: 2;">
            <button><a href="#divOne" class="button1"><img src="<%= base_url %>images/HelpIcon.png" alt="Icon"
                        style="height:35px;width:35px;"></a></button>
        </div>
        <div class="overlay" id="divOne">
            <div class="wrapper">
                <p class="head">LOG A SUPPORT REQUEST</p><br>
                <a href="#" class="close">&times;</a>
                <div class="content">
                    <div class="container1">
                        <form>

                            <label>Summary:</label>
                            <input type="text" class="help">
                            <label>Description:</label>
                            <textarea rows="8" cols=""></textarea>
                            <label>Priority(0ptional):</label><br>
                            <select name="format" id="format">
                                <option selected disabled>Select..</option>
                                <option value="critical">Critical</option>
                                <option value="high">High</option>
                                <option value="medium">Medium</option>
                                <option value="low">Low</option>
                                <option value="lowest">Lowest</option>
                            </select><br><br>
                            <label>Attachment(optional):</label><br>
                            <input type="file"><br><br>
                            <label>Your contact e-mail:</label><br>
                            <input type="email" class="em"><br><br>
                            <input type="submit" value="Send">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>