<%- include('header') %>
<link rel="stylesheet" href="<%= base_url %>css/Quotescreation.css">

<div class="bread">
    <ul class="breadcrumbs" style="padding-top: 0;padding-bottom: 0;">
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>" class="breadcrumbs--link breadcrumbs"
                style="display:inline;text-decoration:none">HOME</a>
        </li>
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>account/edit/<%= accid %>" class="breadcrumbs--link breadcrumbs--link--active"><%= accounts.accounts %></a>
        </li>
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>opportunities/opportunitydata/<%= accid %>/<%= oppid %>" class="breadcrumbs--link breadcrumbs--link--active"><%= opp_data.opportunity_name %></a>
        </li>
         <li class="breadcrumbs--item">
            <a href="#" class="breadcrumbs--link" style="color: black;font-weight: bold;">NEW QUOTE</a>
        </li>
        <li class="breadcrumbs--item">
            <a href="#"><i class="fa fa-pen"
                    style="margin-left:949px;border:1px solid black;padding:7px;background-color: #216c98;font-size: 17px; border: none;color: white;"></i></a>
            <a href="">
                <i class="fa fa-scroll"
                    style="border:1px solid black;padding:7px;font-size: 17px;border: none; color: gray;"></i></a>

            <a href="#iconhide" style="text-decoration: none;color: black;"><i class="fa fa-table" id="showicon"
                    style="border:1px solid black;padding:7px;font-size: 17px;border: none;"></i></a>
        </li>
    </ul>
    <hr class="hr" style="height:1.5px;">
</div>
</div>
<div class="content-bar" style="top:67px;">
<ul>

    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fas fa-home" style="font-size:20px"></i></span>
            <span class="item">HOME</span>
        </li>
    </a>
    <a href="<%= base_url %>accounts">
        <li>
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
            <span class="item">ACCOUNTS</span>
        </li>
    </a>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fa fa-dollar"></i></span>
            <span class="item">QUOTES</span>
        </li>
    </a>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="item">DEMAND</span>
        </li>
    </a>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fa fa-line-chart"></i></span>
            <span class="item">FORECAST</span>
        </li>
    </a>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <span class="item">CATALOG</span>
        </li>
    </a>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="item">ADMIN</span>
        </li>
    </a>
</ul>
</div>

<div class="flex-container">
<div class="row-newquote">
    <div class="left-newquote">
        <div class="ugs">
            <a href="<%= base_url %>" style="color:white; text-decoration: none;">
                <header>
                    <i class="fa-solid fa-less-than" style="padding-right:30px; padding-left: -7px;"></i></a>USE GUIDED SELLLING</header>
            
        </div>
        <div class="template">
            <form action="<%= base_url %>guidedselling/<%= accid %>/<%= oppid %>" method="post">
                <select name="template_type" id="temp" required>
                    <option value="" selected disabled hidden id="dable">Select Guided Selling Template</option>

                    <% if(!catalog || catalog.length == 0) { %>

                    <% } else {
                       var num = 0;
                        catalog.forEach(function(data, i){ %>
                           <option value="<%= data.catalog_key %>"><%= data.title %></option>
                       <%  
                        })
                    } %>
                </select>
                <label id="l7" for="temp">GUIDED SELLING TEMPLATE</label>
                <button type="submit" id="create" disabled>CREATE</button>
            </form>
        </div>
    </div>
    <!-- End of left Section -->
    <div class="right-newquote hiddenH" id="iconhide" >
        <!-- hide content and display content only by 3 clicking icon -->
        <div class="radiotop">
            <select name="summary" id="weeks" >
                <option value="weeks" selected >WEEKS</option>
                <option value="months">MONTHS</option>
                <option value="years">YEARS</option>
            </select>
            <input type="radio" name="dateperiod" id="date" value="date" checked/>&nbsp;DATE
            <input type="radio" name="dateperiod" id="period" value="period"/>&nbsp;PERIOD
        </div>
        <div class="quotedetails">
            <select name="quotedetails" id="qdetails">
                <option value="export1">EXPORT 1</option>
                <option value="quotedetails" selected >QUOTE DETAILS</option>
            </select>
            <a href="#"><button class="product active">Price</button></a>
            <a href="#"><button class="product">Cost</button></a>
            <a href="#"><button class="product">Quantity</button></a>
            <a href="#"><button class="product" >FTE</button></a>
        </div>
    </div>
</div>
</div>

<script src="<%= base_url %>js/buttonEnable.js"></script>

<%- include('footer') %>