<%- include('header') %>
<link rel="stylesheet" href="<%= base_url %>css/Content.css" />

<div class="bread">
  <ul class="breadcrumbs">
    <li class="breadcrumbs--item">
      <a href="home.html" class="breadcrumbs--link breadcrumbs">HOME</a>
    </li>
    <li class="breadcrumbs--item">
      <a href="#" class="breadcrumbs--link breadcrumbs">CATAL</a>
    </li>
    <li class="breadcrumbs--item">
      <a href="#" class="breadcrumbs--link breadcrumbs--link--active"
        >CONTENT</a
      >
    </li>
  </ul>
  <hr class="hr" />
</div>
<div class="content-bar" style="position: fixed">
  <ul>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="item">HOME</span>
      </li>
    </a>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fa-solid fa-stamp"></i></span>
        <span class="item">ROLES</span>
      </li>
    </a>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
        <span class="item">ITEMS</span>
      </li>
    </a>
    <a href="<%= base_url %>catalogcontent">
      <li class="active1">
        <span class="icon"><i class="fa fa-eye"></i></span>
        <span class="item">CONTENT</span>
      </li>
    </a>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fa-solid fa-clipboard-list"></i></span>
        <span class="item">ASSET</span>
      </li>
    </a>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fa-sharp fa-regular fa-clone"></i></span>
        <span class="item">TEMPLATES</span>
      </li>
    </a>
    <a href="<%= base_url %>catalog">
      <li>
        <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
        <span class="item">SURVEYS</span>
      </li>
    </a>
    <a href="<%= base_url %>">
      <li>
        <span class="icon"><i class="fa-solid fa-book"></i></span>
        <span class="item">DOCTYPES</span>
      </li>
    </a>
  </ul>
</div>

<div>
  <div class="rowcontent" style="padding-top: 0px">
    <div class="leftcontent" style="position: fixed">
      <div class="inboxcontent">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input
          type="text"
          id="mySearchcontent"
          onkeyup="myFunctionContent1()"
          title="type in a chategory"
        />
      </div>
      <div class="dividecontent">
        <ul id="myMenucontent">
          <span id="dotscontent" style="font-size: 14px">
            <% if(!contentcatalog || contentcatalog.length == 0) { %>
            <li><a>No catalogcontent found</a></li>
            <% } else { var num = 0; contentcatalog.forEach(function(data, i){
            if(num==0){ num++;%>
            <li>
              <a
                class="<% if(data.content_key == id){%> <%= 'active' %> <% } %>"
                href="<%= base_url %>catalogcontent/edit/<%= data.content_key %>"
                ><%= data.content_title %></a
              >
            </li>

            <% }else{ %>
            <li>
              <a
                class="<% if(data.content_key == id){%> <%= 'active' %> <% } %>"
                href="<%= base_url %>catalogcontent/edit/<%= data.content_key %>"
                ><%= data.content_title %></a
              >
            </li>

            <% } }) } %>
          </span>
          <span id="morecontent">
            <!-- <li><a href="#">Accenture S.p.A</a></li>
                        <li><a href="#">1040Tech LLC</a></li>
                        <li><a href="#">ABB AG</a></li>
                        <li><a href="#">Abbey National Group</a></li>
                        <li><a href="#">Abbott</a></li>
                        <li><a href="#">Abbott Laboratories</a></li>
                        <li><a href="#">ABC Company</a></li>
                        <li><a href="#">ABSA Bank Limited</a></li>
                        <li><a href="#">ACA Pacific Technology</a></li>
                        <li><a href="#">Accenture</a></li>
                        <li><a href="#">Accenture S.p.A</a></li> -->
          </span>
          <button onclick="myFunctionContent()" id="myBTNcontent">
            VIEW MORE
          </button>
        </ul>
      </div>
      <div class="plusiconcontent">
        <a href="<%= base_url %>catalogcontent/create"
          ><i class="fa fa-plus"></i></a
        ><!-- onclick="showContent()"-->
      </div>
    </div>
    <div class="rightcontent">
      <div id="headercontent">CATALOG CONTENT</div>
      <div id="createcontent" style="display: block">
        <div class="containercontent1">
          <div id="cc1">
            <input
              class=""
              type="text"
              name="content_title"
              onchange="editFunction('content_title',this.value,'<%= content_data.content_key %>')"
              value="<%= content_data.content_title %>"
            />
            <label>TITLE</label>
          </div>
          <div id="cc2">
            <select
              name="content_org"
              onchange="editFunction('content_org',this.value,'<%= content_data.content_key %>')"
            >
              <option selected disabled><%= content_data.content_org %></option>
              <option>AFRICA</option>
              <option>ALL OTHER AP</option>
              <option>AP-ALL OTHER</option>
              <option>AP-AUS/JP</option>
              <option>AP-CHINA</option>
              <option>AP-INDIA</option>
              <option>ARGENTINA</option>
              <option>AUSTRALIA</option>
            </select>
            <label>ORG</label>
          </div>
          <div id="cc3">
            <input
              class=""
              type="number"
              name="content_number"
              onchange="editFunction('content_number',this.value,'<%= content_data.content_key %>')"
              value="<%= content_data.content_number %>"
            />
            <label>CATLOG NUMBER</label>
          </div>
          <div id="cc4">
            <input
              class=""
              type="text"
              name="content_category"
              onchange="editFunction('content_category',this.value,'<%= content_data.content_key %>')"
              value="<%= content_data.content_category %>"
            />
            <label>CATLOG CATEGORY</label>
          </div>
          <div id="cc5">
            <input
              class=""
              type="checkbox"
              name="content_locked"
              value="1"
              <%
              if(content_data.content_key
              !="0){"
              %
            /><%= "checked" %><% } %>
            onchange="editFunction('content_locked',this.value,'<%=
            content_data.content_key %>')"/>
            <label>LOCKED</label>
          </div>
        </div>
        <!-- wordcontent -->
        <div id="myDiv">
          <div id="toolbar">
            <div>
              <button
                type="button"
                class="fa fa-font"
                onclick="shadetext()"
              ></button
              ><br />
              <input type="color" id="color-picker" />
            </div>
            <button
              type="button"
              class="fa fa-bold"
              onclick="document.execCommand('bold')"
            ></button>
            <button
              type="button"
              class="fa fa-italic"
              onclick="document.execCommand('Italic')"
            ></button>
            <button
              type="button"
              class="fa fa-underline"
              onclick="document.execCommand('underline')"
            ></button>
            <button
              type="button"
              class="fa fa-undo"
              onclick="document.execCommand('undo')"
            ></button>
            <button
              type="button"
              class="fa fa-redo"
              onclick="document.execCommand('redo')"
            ></button>
            <button
              type="button"
              class="fa fa-header"
              onclick="document.execCommand('formatBlock', false, '<h2>')"
            ></button>
            <button
              type="button"
              class="fa fa-bars"
              onclick="document.execCommand('insertHorizontalRule', false, null)"
            ></button>
            <button
              type="button"
              class="fa fa-trash"
              onclick="document.execCommand('delete',false,'')"
            ></button>
            <button
              type="button"
              class="fa fa-copy"
              onclick="document.execCommand('copy')"
            ></button>
            <button
              type="button"
              class="fa fa-subscript"
              onclick="document.execCommand('subscript', false,null)"
            ></button>
            <button
              type="button"
              class="fa fa-superscript"
              onclick="document.execCommand('superscript', false,null)"
            ></button>
            <button
              type="button"
              class="fa fa-strikethrough"
              onclick="document.execCommand('strikethrough', false,null)"
            ></button>
          </div>
          <textarea
            id="editableContent"
            name="content_description"
            rows="7"
            style="width: 100%"
            contenteditable="true"
            onchange="editFunction('content_description',this.value,'<%= content_data.content_key %>')"
          >
<%= content_data.content_description %></textarea
          >
        </div>
      </div>

      <script>
        function editFunction(name, val, id) {
          var data = JSON.stringify({ name: name, value: val, id: id });
          console.log(data);
          fetch("<%= base_url %>api/updatecatalogcontent", {
            method: "post",
            body: data,
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              console.log(response);
            })
            .then((res) => {
              if (res.status === 201) {
                console.log("Post successfully created!");
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      </script>

      <script type="text/javascript">
        $(document).on("click", " ul a li", function () {
          $(this).addClass("active1").siblings().removeClass("active1");
        });
      </script>
      <script src="<%= base_url %>js/ContentFlex.js"></script>
      <script src="<%= base_url %>js/ContentShowMore.js"></script>
      <script src="<%= base_url %>js/ContentWordPad.js"></script>
      <script src="<%= base_url %>js/ContentShow.js"></script>
      <%- include('footer') %>
    </div>
  </div>
</div>
