<%- include('header') %>
<link rel="stylesheet" href="<%= base_url %>css/Catalog.css">
<link rel="stylesheet" href="<%= base_url %>css/CatalogQuestionAndRules.css">

<style>
    .rightsurvey {
    height: 600px;
    overflow-y: scroll;
}
</style>

<div class="bread">
    <ul class="breadcrumbs">
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>" class="breadcrumbs--link breadcrumbs">HOME</a>
        </li>
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>catalog" class="breadcrumbs--link breadcrumbs--link--active">CATALOG</a>
        </li>
        <li style="float: right;list-style: none;">
            <a href="#" class="breadcrumbs--link breadcrumbs--link--active"><i class="fa fa-pen"
                    style="font-size: 15px;margin-right: 10px;"></i></a>
            <a href="#" class="breadcrumbs--link breadcrumbs--link--active"><i class="fa fa-table"
                    style="font-size: 15px;margin-right: 10px;"></i></a>
        </li>
    </ul>
    <hr class="hr">
</div>
<div class="content-bar" style="position:fixed;">
    <ul>
        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">HOME</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fa-solid fa-stamp"></i></span>
                <span class="item">ROLES</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
                <span class="item">ITEMS</span>
            </li>
        </a>
        <a href="<%= base_url %>catalogcontent">
            <li>
                <span class="icon"><i class="fa fa-eye"></i></span>
                <span class="item">CONTENT</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fa-solid fa-clipboard-list"></i></span>
                <span class="item">ASSET</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fa-sharp fa-regular fa-clone"></i></span>
                <span class="item">TEMPLATES</span>
            </li>
        </a>
        <a href="<%= base_url %>catalog">
            <li class="active1">
                <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="item">SURVEYS</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li class="active1">
                <span class="icon"></span>
                <span class="item">SETUP</span>
            </li>
        </a>
        <a href="<%= base_url %>">
            <li class="">
                <span class="icon"></span>
                <span class="item">WHERE USED</span>
            </li>
        </a>

        <a href="<%= base_url %>">
            <li>
                <span class="icon"><i class="fa-solid fa-book"></i></span>
                <span class="item">DOCTYPES</span>
            </li>
        </a>
    </ul>
</div>

<div>
    <div class="rowsurvey" style="padding-top: 0px">
        <div class="leftsurvey" style="position: fixed;">

            <div class="inboxsurvey">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="mySearchsurvey" onkeyup="myFunctionSurvey()" title="type in a chategory">
            </div>
            <div class="dividesurvey">
                <ul id="myMenusurvey">
                    <span id="dotssurvey">
                        <% if(!catalog || catalog.length == 0) { %>
                            <li><a>No catalogs found</a></li>
                        <% } else {
                           var num = 0;
                            catalog.forEach(function(data, i){ 
                               if(num==0){ 
                                   num++;%>
                                <li><a href="<%= base_url %>catalog/edit/<%= data.catalog_key %>" ><%= data.title %></a></li>
                                
                               <% }else{ %>
                                   <li><a href="<%= base_url %>catalog/edit/<%= data.catalog_key %>"><%= data.title %></a></li>

                           <%  }
                            })
                        } %>
                        <!-- <li><a href="#">ABSA Bank Limited</a></li>
                        <li><a href="#">ACA Pacific Technology</a></li>
                        <li><a href="#">Accenture</a></li>
                        <li><a href="#">Accenture S.p.A</a></li>
                        <li><a href="#">1040Tech LLC</a></li>
                        <li><a href="#">ABB AG</a></li>
                        <li><a href="#">Abbey National Group</a></li>
                        <li><a href="#">Abbott</a></li> -->
                    </span>
                    <!-- <span id="moresurvey">
                        <li><a href="#">Accenture S.p.A</a></li>
                        <li><a href="#">1040Tech LLC</a></li>
                        <li><a href="#">ABB AG</a></li>
                        <li><a href="#">Abbey National Group</a></li>
                        <li><a href="#">Abbott</a></li>
                        <li><a href="#">Abbott Laboratories</a></li>
                        <li><a href="#">ABC Company</a></li>
                        <li><a href="#">ABSA Bank Limited</a></li>
                        <li><a href="#">ACA Pacific Technology</a></li>
                        <li><a href="#">Accenture</a></li>
                        <li><a href="#">Accenture S.p.A</a></li>
                    </span> -->
                    <button onclick="myFunctionSurvey()" id="myBTNsurvey">VIEW MORE</button>
                </ul>
            </div>
            <div class="plusiconsurvey">
                <!-- <a href="#"><i class="fa fa-plus"></i></a> -->
            </div>
        </div>
        <div class="rightsurvey">
            <form method="post" action="<%= base_url %>api/createcatalog">

            <div id="main">

                <div class="submain">
                    <button class="openbtnSurvey" onclick="openNav()" onmouseover="closeNav()">
                        <i class="fa-light fa-less-than" style="color: white;"></i></button>
                </div>
                <div class="surveyhead">
                    <div id="headersurvey">SURVEY TEMPLATE
                        <div class="surveyapprove">
                            <!-- <a class="approvesurvey1" href="#">OVERWRITE</a>
                            <a class="approvesurvey2" href="#">CREATE A COPY</a> -->
                        </div>
                    </div>
                </div>
                <div>
                    <div class="containersurvey">
                        <div id="contentS1">
                            <div class="surveyName" id="surveynamesection">
                                <input class="" type="text" name="title">
                                <label id="tittleLabel">TITLE</label>
                                <label id="cpqLabel">CPQ</label>
                            </div>
                            <div id="headsurvey2" style="display: none;">
                                <a class="export" href="#">EXPORT</a>
                                <label for="myfile" id="file">IMPORT FROM LOCAL FILE</label>
                                <input type="file" id="myfile" name="myfile" display="show" hidden>
                                <a class="savee" href="#">SAVE</a>
                                <a class="resumecalc" href="#">RESUME CALCULATIONS</a>
                            </div>
                            <div class="catIcon">
                                <i class="fa-solid fa-clipboard-list" id="catIcon" onclick="defaultShow()"
                                    style="margin-left: 25px; width: 20px;"></i><br>
                                <label for="" id="clipLabel">DEFAULTS</label>
                            </div>
                            <div class="calcIcon" id="calcId">
                                <i class="fa fa-table" id="calcIcon" onclick="calcShow()"
                                    style="margin-left: 25px; width: 20px;"></i><br>
                                <label for="" id="calcLabel">CALC</label>
                                <i class="fa fa-cog" id="configIcon" style="margin-left: 25px; display: none;"
                                    onclick="defaultShow()"></i><br>
                                <label for="" id="configLabel" style="display: none;">CONFIG</label>
                            </div>
                            <!--  -->
                            <div class="bckbtn" id="bckbtn1" onclick="calcShow()" style="display: none;">
                                <button id="backk">BACK</button>
                                <i class="fa fa-chevron-left" id="backicon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="containerSA">
                            <div id="contentS2">
                                <select name="category">
                                    <option selected disabled></option>
                                    <option value="DBA">DBA</option>
                                    <option value="DSOM">DSOM</option>
                                    <option value="DEFAULT">DEFAULT</option>
                                    <option value="EDUCATION">EDUCATION</option>
                                    <option value="IZOT">IZOT</option>
                                </select>
                                <label>CATLALOG CATEGORY</label>
                            </div>
                            <div id="contentS3">
                                <select name="status">
                                    <option selected disabled></option>
                                    <option value="INACTIVE">INACTIVE</option>
                                    <option value="IN PROCESS">IN PROCESS</option>
                                    <option value="PUBLISHED">PUBLISHED</option>
                                </select>
                                <label>CATLOG STATUS</label>
                            </div>
                            <div id="contentS4">
                                <input type="checkbox" name="globals" value="1">
                                <label>GLOBALS</label>
                            </div>
                            <div id="contentS5">
                                <input type="checkbox" name="wide" value="1">
                                <label>WIDE</label>
                            </div>
                        </div>
                        <div id="containerSB">
                            <div id="contentS6">
                                <select name="update_type">
                                    <option selected disabled></option>
                                    <option value="AUTOMATIC UPDATE">AUTOMATIC UPDATE</option>
                                    <option value="NO UPDATE">NO UPDATE</option>
                                    <option value="PROMPT USER">PROMPT USER</option>
                                </select>
                                <label>TEMPLATE UPDATE TYPE</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <input type="hidden" name="total_sections" id="total_sections" value="0"/>
                <input type="hidden" name="total_questions" id="total_questions" value="0"/>
                <input type="hidden" id="lengthsection" value="0"/>

                <div id="main-section">
                    <div id="sections-container"></div>
                    <button id="add-section-btn" type="button">+ ADD SECTION</button>
                </div>
                <!-- SPREAD SHEET CODE STARTS FROM HERE -->

                <div id="calc-container" style="display: none;">
                    
                </div>

                <div class="saveandcancel">
                    <button id="reset1" type="reset" style="color:red;">CANCEL</button>
                    <button id="save1" type="submit" style="color:green;cursor: pointer;">SAVE</button>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>
<div id="mySidebar" class="sidebar">
    <div class="navside"> <button class="dropdown-btn" id="sidetoggle1">BID TEAM <i class="fa fa-angle-down"
                style="color: black; font-size: 20px; float: right;"></i> </button>
        <div class="dropdown-container">
            <p>${model}-ownerName</p>
            <form action=""> <input type="search" name="ownerName" id="oname"
                    placeholder="Enter Name to be searched" required />
                <input type="submit" id="search" hidden> <label for="search"><i
                        class="fa-solid fa-check"></i></label>
            </form>
        </div>
    </div>
    <div class="navside"> <button class="dropdown-btn" id="sidetoggle">FILES<i class="fa fa-angle-down"
                style="color: black; font-size: 20px; float: right;"></i> </button>
        <div class="dropdown-container">
            <ul id="todo-list"> </ul>
            <form> <input type="file" id="upload-file" multiple onchange="updateList()">
                <!-- accept=".pdf, .jpg, .jpeg, .xlsx"> -->
                <label for="upload-file" id="pluzlabel"><i class="fa fa-plus" style="color:#045679;"></i></label>
                <button id="upload-btn" type="submit"><i class="fa-solid fa-check"></i></button>
                <div id="fileList"> </div>
            </form>
        </div>
    </div>
    <div class="navside"> <button class="dropdown-btn" id="sidetoggle1">NOTES <i class="fa fa-angle-down"
                style="color: black; font-size: 20px; float: right;"></i> </button>
        <div class="dropdown-container">
            <form action=""><input type="text" name="new" id="send" placeholder="Type your Note" /><button
                    id="sent1"><i class='fa fa-send-o blue-color' style="color: #045679;"></i></button>
            </form>
        </div>
    </div>
    <div class="navside"> <button class="dropdown-btn" id="sidetoggle2">EXTERNAL REFERENCES <i
                class="fa fa-angle-down" style="color: black; font-size: 20px; float: right;"></i> </button>
        <div class="dropdown-container">
            <form action=""><input type="text" name="id" id="eid" value="$model"><label for="" id="lab">EXTERNAL
                    REFERENCES
                    ID</label><br> <input type="text" name="id" id="eid2" value="$model">
                <label for="" id="lab">EXTERNAL REFERENCES ID 2</label>
                <!-- <br><input type="text" name="id" id="cfid" value="$model"><label for="" id="lab">CRM  REFERENCE</label> -->
            </form>
        </div>
    </div>
    <div class="navside">
        <button class="dropdown-btn" id="sidetoggle3">TIMESTAMP <i class="fa fa-angle-down"
                style="color: black; font-size: 20px; float: right;"></i> </button>
        <div class="side-container"> <span id="time">CREATED BY:</span><span id="time1">${model}</span><br>

            <hr id="lhr"> <span id="time">CREATED:</span><span id="time1">${model}</span><br>
            <hr id="lhr"> <span id="time">LAST MODIFIED BY:</span><span id="time1">${model}</span><br>

            <hr id="lhr"> <span id="time">LAST MODIFIED</span><span id="time1">${model}</span><br>

            <hr id="lhr"> <span id="time">REVISION</span><span id="time1">${model}</span><br>
        </div>
    </div>
</div>
<script src="<%= base_url %>js/SurveyShowMore.js"></script>
<script src="<%= base_url %>js/Surveyflex.js"></script>
<script src="<%= base_url %>js/sideBar.js"></script>
<script src="<%= base_url %>js/Navigation.js"></script>
<script src="<%= base_url %>js/CatalogQuestionAndRules.js"></script>
</body>

</html>