<%- include('header') %>
<div class="bread">
    <ul class="breadcrumbs" style="padding-top: 0;padding-bottom: 0;">
        <li class="breadcrumbs--item">
            <a href="<%= base_url %>" class="breadcrumbs--link breadcrumbs"
                style="display:inline;text-decoration:none">HOME</a>

        <li class="breadcrumbs--item">
            <a href="<%= base_url %>accounts" class="breadcrumbs--link breadcrumbs--link--active">accounts</a>

            <!-- </li> <li class="breadcrumbs--item">
    <a href="#" class="breadcrumbs--link">QUOTES</a>
</li> -->

            <a href="#"><i class="fa fa-pen"
                    style="margin-left:1048px;border:1px solid black;padding:7px;background-color: #216c98;font-size: 17px; border: none;color: white;"></i></a>

            <a href="<%= base_url %>accoutslistings" style="text-decoration: none;color: black;"><i class="fa fa-table"
                    style="border:1px solid black;padding:7px;font-size: 17px;border: none;"></i></a>
        </li>
    </ul>
    <hr class="hr" style="height:1.5px;">
</div>
</div>
<div class="content-bar" style="top:68px;">
<ul>
    <a href="<%= base_url %>">
        <li>
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item">HOME</span>
        </li>
    </a>
    <a href="<%= base_url %>accounts">
        <li class="active1">
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
            <span class="item">ACCOUNTS</span>
        </li>
    </a>
    <a href="Quotes.html">
        <li>
            <span class="icon"><i class="fa fa-dollar"></i></span>
            <span class="item">QUOTES</span>
        </li>
    </a>
    <a href="Demand.html">
        <li>
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="item">DEMAND</span>
        </li>
    </a>
    <a href="Forecast.html">
        <li>
            <span class="icon"><i class="fa fa-line-chart"></i></span>
            <span class="item">FORECAST</span>
        </li>
    </a>
    <a href="<%= base_url %>catalog">
        <li>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <span class="item">CATALOG</span>
        </li>
    </a>
    <a href="Admin.html">
        <li>
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="item">ADMIN</span>
        </li>
    </a>
</ul>
</div>
<div>
<div class="helpbox" style="z-index: 2;">
    <button><a href="#divOne" class="button1"><img src="images/HelpIcon.png" alt="Icon"
                style="height:35px;width:35px;"></a></button>
</div>
<div class="overlay" id="divOne">
    <div class="wrapper">
        <p class="head">LOG A SUPPORT REQUEST</p><br>
        <a href="#" class="close">&times;</a>
        <div class="content">
            <div class="container1">
                <form>

                    <label>Summary:</label>
                    <input type="text" class="help">
                    <label>Description:</label>
                    <textarea rows="8" cols=""></textarea>
                    <label>Priority(0ptional):</label><br>
                    <select name="format" id="format">
                        <option selected disabled>Select..</option>
                        <option value="critical">Critical</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                        <option value="lowest">Lowest</option>
                    </select><br><br>
                    <label>Attachment(optional):</label><br>
                    <input type="file"><br><br>
                    <label>Your contact e-mail:</label><br>
                    <input type="email" class="em"><br><br>
                    <input type="submit" value="Send">

                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- account -->
<div>
    <div class="row">

        <div class="left" style="position: fixed;">

            <div class="inbox">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="mySearch" onkeyup="myFunction2()" title="type in a chategory">
            </div>

            <div class="divide">
                <ul id="myMenu">
                    <span id="dots">
                        <% if(!accounts || accounts.length == 0) { %>
                             <li><a>No Accounts found</a></li>
                         <% } else {
                             accounts.forEach(function(data, i){ %>
                                 <li><a href="<%= base_url %>account/edit/<%= data.access_key %>"><%= data.accounts %></a></li>
                         <%  })
                         } %>
                         
                     </span>
                     <!-- <span id="more">
                         <li><a href="#">Accenture S.p.A</a></li>
                         
                     </span>
                     <button onclick="myFunction3()" id="myBTN">VIEW MORE</button> -->
                </ul>
            </div>
        </div>

        <div class="right" id="createAcc">
            <div id="header"><a>CREATE ACCOUNT</a></div>
            <form method="post" action="<%= base_url %>api/createaccount">

                <div>
                    <div class="containerA1">
                        <div id="content1">
                            <input class="inputTextA1" type="text" name="accounts" placeholder="" required>
                            <label>ACCOUNTS</label>
                        </div>
                        <div id="content2">
                            <input class="inputTextA1" type="text" name="owner" placeholder="" required>
                            <label>OWNER</label>
                        </div>
                    </div>

                    <div class="containerA2">
                        <div id="content3">
                            <input type="text" name="parent_account" class="inputTextA1" placeholder="Please enter 3 or more charecters"
                                required>
                            <label>PARENT ACCOUNT</label>
                        </div>
                    </div>
                    <div class="containerA3">
                        <div id="content4">
                            <input type="text" name="description" class="inputTextA1" placeholder="" required>
                            <label>DESCRIPTION</label>
                        </div>
                    </div>
                    <div class="containerA4">
                        <div id="content5">
                            <select name="region" required>
                                <option selected disabled></option>
                                <option value="AP">AP</option>
                                <option value="EMEA">EMEA</option>
                                <option value="LA">LA</option>
                                <option value="NA">NA</option>
                            </select>
                            <label>REGION</label>
                        </div>
                        <div id="content6">
                            <select name="industry" required>
                                <option selected disabled></option>
                                <option value="BUSINESS SERVICESl">BUSINESS SERVICES</option>
                                <option value="FINANCE AND INSURENCE">FINANCE AND INSURENCE</option>
                                <option value="MANUFACTURING">MANUFACTURING</option>
                                <option value="MEDIA,ENTERTAINMENT,& LEISURE">MEDIA,ENTERTAINMENT,& LEISURE</option>
                                <option value="PUBLIC SECTOR">PUBLIC SECTOR</option>
                                <option value="RETAIL & WHOLESALE TRADE">RETAIL & WHOLESALE TRADE</option>
                                <option value="UTILITIES & TELECOMMUNICATION">UTILITIES & TELECOMMUNICATION</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                            <label>INDUSTRY</label>
                        </div>
                    </div>
                    <div class="containerA5">
                        <div id="content7">
                            <select name="vertical" required>
                                <option selected disabled></option>
                                <option value="BANKING">BANKING</option>
                                <option value="CHEMICALS">CHEMICALS</option>
                                <option value="CONSTRUCTION & ENGG">CONSTRUCTION & ENGG</option>
                                <option value="COSULTING SERVICES">COSULTING SERVICES</option>
                                <option value="CONSUMER PRODUCTS">CONSUMER PRODUCTS</option>
                                <option value="EDUCATION">EDUCATION</option>
                                <option value="ENTERTAINMENT & LEISURE">ENTERTAINMENT & LEISURE</option>
                                <option value="FINANCIAL SERVICES">FINANCIAL SERVICES</option>

                            </select>
                            <label>VERTICAL</label>
                        </div>
                        <div id="content8">
                            <select name="type" required>
                                <option selected disabled></option>
                                <option value="CUSTOMER">CUSTOMER</option>
                                <option value="PROSPECT">PROSPECT</option>
                                <option value="INTERNAL">INTERNAL</option>
                                <option value="GENERIC">GENERIC</option>
                            </select>
                            <label>TYPE</label>
                        </div>
                    </div>
               </div>
            <!-- tables -->

            <!-- BILLING ADDRESS -->
            <div class="containerA6">
                <div class="left1" onclick="myFunctionA()"> <button type="button" class="bbtn" id="clickme">
                        <b>BILLING ADDRESS &nbsp; <span class="fa fa-angle-down"></span></b></button>
                    <div id="billOne" class="hidden">
                        <div class="content9">
                            <div class="street1">
                                <input class="billing" type="text" name="billing_street1" placeholder="" required>
                                <label>STREET-1</label>
                            </div>

                            <!-- </div>  <div class="content9"> -->
                            <div class="street2">
                                <input class="billing" type="text" name="billing_street2" placeholder="" required>
                                <label>STREET-2</label>
                            </div>
                        </div>
                        <div class="content9">
                            <div class="street1">
                                <input class="billing" type="text" name="billing_city" placeholder="" required>
                                <label>CITY</label>
                            </div>
                            <!-- </div>  <div class="content9"> -->
                            <div class="street2">
                                <input class="billing" type="text" name="billing_state" placeholder="" required>
                                <label>STATE</label>
                            </div>
                        </div>
                        <div class="content9">
                            <div class="street1">
                                <input class="billing" type="number" name="billing_zip" placeholder="" required> <label>ZIP</label>
                            </div>
                            <!-- </div>  <div class="content9"> -->
                            <div class="street2">
                                <input class="billing" type="text" name="billing_country" placeholder="" required>
                                <label>COUNTRY</label>
                            </div>
                        </div>
                        <div class="content9"> <input id="pno" class="billing" type="number" name="billing_phone" placeholder=""
                                style="margin-left: 0.9%;" required>
                            <label>PHONE</label>
                        </div>
                    </div>
                </div>
                <div class="right1"> <button type="button" onclick="myfunctionB()" class="sbtn" id="clikhere">
                        <b>SHIPPING ADDRESS &nbsp;<span class="fa fa-angle-down"></span></b></button>
                    <div id="ship" class="hidden">
                        <div class="content10">
                            <div class="street1">
                                <input class="billing" type="text" name="shipping_street1" placeholder="" required>
                                <label id="l1">STREET-1</label>
                            </div>
                            <!-- <div class="content10"> -->
                            <div class="street2"> <input class="billing" type="text" name="shipping_street2" placeholder="" required>
                                <label>STREET-2</label>
                            </div>
                        </div>
                        <div class="content10">
                            <div class="street1">
                                <input class="billing" type="text" placeholder="" name="shipping_city" required> <label>CITY</label>
                            </div>
                            <!-- </div>  <div class="content10"> -->
                            <div class="street2">
                                <input class="billing" type="text" placeholder="" name="shipping_state" required>
                                <label>STATE</label>
                            </div>
                        </div>
                        <div class="content10">
                            <div class="street1">
                                <input class="billing" id="zip" type="number" name="shipping_zip" placeholder="" required>
                                <label>ZIP</label>
                            </div>
                            <!-- </div>  <div class="content10"> -->
                            <div class="street2">
                                <input class="billing" type="text" placeholder="" name="shipping_country" required>
                                <label>COUNTRY</label>
                            </div>
                        </div>
                        <div class="content10"> <input id="pno" class="billing" name="shipping_phone" type="number" placeholder=""
                                style="margin-left: 0.9%;" required>
                            <label>PHONE</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------additional info--------------------- -->
            <!-- <div class="addInfo">
                <form action="#">
                    <button type="button" onclick="myfunctionC()" id="clikhere3" class="aInfo">
                        <b>ADDITIONAL INFO &nbsp;</b>
                        <span class="fa fa-angle-down"></span></button>
                    <div id="displaytable3" class="placeholder hidden">
                        <div class="container-info">
                            <div id="content-info1">
                                <input type="text" placeholder="">
                                <label>EXCELRATE PARTNER</label>
                            </div>
                            <div id="content-info2">
                                <input type="text" placeholder="">
                                <label>COMERCIAL REGION</label>
                            </div>
                            <div id="content-info3">
                                <input type="text" placeholder="">
                                <label>COMERCIAL SUBREGION</label>
                            </div>
                            <div id="content-info4">
                                <input type="text" placeholder="">
                                <label>VAT NUMBER</label>
                            </div>
                            <div id="content-info5">
                                <input type="text" placeholder="">
                                <label>DELIVERY AREA</label>
                            </div>
                            <div id="content-info6">
                                <input type="text" placeholder="">
                                <label></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
            <div class="savcanc">
                <button id="reset" type="reset" style="color:red;">CANCEL</button>
                <button id="save" type="submit" style="color:green;">SAVE</button>
            </div>
            </form>
        </div>
        <div class="slide">
            <div id="mySidebar" class="sidebar1">
                <!-- <a href="javascript:void(0)" >x</a> -->
                <div class="navside">
                    <button class="dropdown-btn" id="sidetoggle">FILES <i class="fa fa-angle-down"
                            style="color: black; font-size: 20px; float: right;"></i>
                    </button>
                    <div class="dropdown-container">
                        <form action=""><input type="file" id="upload" name="doc" hidden /><label id="upl"
                                for="upload">+</label>
                        </form>
                    </div>
                </div>
                <div class="navside"> <button class="dropdown-btn" id="sidetoggle1">NOTES <i
                            class="fa fa-angle-down" style="color: black; font-size: 20px; float: right;"></i>
                    </button>
                    <div class="dropdown-container">
                        <form action=""><input type="text" name="new" id="send"
                                placeholder="Type your Note" /><button id="sent"><i class='fa fa-send-o blue-color'
                                    style="color: #045679;"></i></button> </form>
                    </div>
                </div>
                <div class="navside">
                    <button class="dropdown-btn" id="sidetoggle2">EXTERNAL REFERENCES
                        <i class="fa fa-angle-down" style="color: black; font-size: 20px; float: right;"></i>

                    </button>
                    <div class="dropdown-container">
                        <form action=""><input type="text" name="id" id="eid" value="$model"><label for=""
                                id="lab">EXTERNAL
                                REFERENCES ID</label><br>
                            <input type="text" name="id" id="eid2" value="$model">
                            <label for="" id="lab">EXTERNAL REFERENCES ID 2</label>
                            <br><input type="text" name="id" id="cfid" value="$model"><label for="" id="lab">CRM
                                REFERENCE</label>
                        </form>
                    </div>
                </div>
                <div class="navside"> <button class="dropdown-btn" id="sidetoggle3">TIMESTAMP
                        <i class="fa fa-angle-down" style="color: black; font-size: 20px; float: right;"></i>

                    </button>
                    <div class="side-container"> <span id="time">CREATED BY:</span><span
                            id="time1">${model}</span><br>

                        <hr id="lhr"> <span id="time">CREATED:</span><span id="time1">${model}</span><br>
                        <hr id="lhr"> <span id="time">LAST MODIFIED BY:</span><span id="time1">${model}</span><br>

                        <hr id="lhr"> <span id="time">LAST MODIFIED</span><span id="time1">${model}</span><br>
                        <hr id="lhr"> <span id="time">REVISION</span><span id="time1">${model}</span><br>
                    </div>
                </div>
                <div class="navside">
                    <button class="dropdown-btn" id="sidetoggle4">INTERNAL ID <i class="fa fa-angle-down"
                            style="color: 1px solid black; font-size: 20px; float: right;"></i>
                    </button>
                    <div class="dropdown-container">
                        <div class="txt">
                            <p id="text-to-copy"><a href="https://chat.openai.com/chat" style="font-size: 13px;"
                                    target="_blank">file:///C:/Usfyugfgsyugfsgfgsdugfdyusfdhfdhdhfchdrfdhjavxjvgsugdguzlivdshiuvdhlihvihvjhvhdasdddsfegesrhytryu6trdujiy</a>
                            </p>
                        </div>
                        <div class="bnt"><button id="cpbtn" onclick="copyText()"><i class="fa fa-clone"
                                    style="font-size:15px; z-index: 2;"></i></button>
                        </div>
                    </div>
                </div>
                <div class="navside"> <button class="dropdown-btn" id="sidetoggle5">LINK
                        <i class="fa fa-angle-down" style="color: black; font-size: 20px; float: right;"></i>
                    </button>
                    <div class="dropdown-container">
                        <div class="txt">
                            <p id="link-to-copy"><a href="https://chat.openai.com/chat" style="font-size: 13px;"
                                    target="_blank">file:///C:/Usfyugfgsyugfsgfgsdugfdyusfdhfdhdhfchdrfdhjavxjvgsugdguzlivdshiuvdhlihvihvjhvhdasdddsfegesrhytryu6trdujiy</a>
                            </p>
                        </div>
                        <div class="bnt"></div> <button id="linkbtn" onclick="copyLink()"><i
                                class="fa fa-clone"></i></button>
                    </div>
                </div>
            </div><!-- </div> -->
            <div><button id="main" class="openbtn" onclick="openNav()" ondblclick="closeNav()">
                    <i class="fa-light fa-less-than"></i></button></div>

        </div>
    </div>

<%- include('footer') %>
