<%- include('header') %>
<link rel="stylesheet" href="<%= base_url %>css/Quotescreation.css">

<div class="bread">
    <ul class="breadcrumbs" style="padding-top: 0;padding-bottom: 0;">
        <li class="breadcrumbs--item">
            <a href="index.html" class="breadcrumbs--link breadcrumbs"
                style="display:inline;text-decoration:none">CompanyName</a>

        <li class="breadcrumbs--item">
            <a href="#" class="breadcrumbs--link breadcrumbs--link--active">OppurtinityName</a>

        <li class="breadcrumbs--item">
            <a href="#" class="breadcrumbs--link breadcrumbs--link--active">New Quote</a>

            <!-- </li> <li class="breadcrumbs--item">
<a href="#" class="breadcrumbs--link">QUOTES</a>
</li> -->

            <a href="#"><i class="fa fa-pen"
                    style="margin-left:861px;border:1px solid black;padding:7px;background-color: #216c98;font-size: 17px; border: none;color: white;"></i></a>
            <a href="">
                <i class="fa-light fa-scroll"
                    style="border:1px solid black;padding:7px;font-size: 17px;border: none;"></i></a>

            <a href="#iconhide" style="text-decoration: none;color: black;"><i class="fa fa-table" id="showicon"
                    style="border:1px solid black;padding:7px;font-size: 17px;border: none;"></i></a>
        </li>
    </ul>
    <hr class="hr" style="height:1.5px;">
</div>
</div>
<div class="content-bar" style="top:67px;">
<ul>

    <a href="home.html">
        <li>
            <span class="icon"><i class="fas fa-home" style="font-size:20px"></i></span>
            <span class="item">HOME</span>
        </li>
    </a>
    <a href="Accounts.html">
        <li>
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
            <span class="item">ACCOUNTS</span>
        </li>
    </a>
    <a href="Quotes.html">
        <li>
            <span class="icon"><i class="fa fa-dollar"></i></span>
            <span class="item">QUOTES</span>
        </li>
    </a>
    <a href="Demand.html">
        <li>
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="item">DEMAND</span>
        </li>
    </a>
    <a href="Forecast.html">
        <li>
            <span class="icon"><i class="fa fa-line-chart"></i></span>
            <span class="item">FORECAST</span>
        </li>
    </a>
    <a href="Catalog.html">
        <li>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <span class="item">CATALOG</span>
        </li>
    </a>
    <a href="Admin.html">
        <li>
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="item">ADMIN</span>
        </li>
    </a>
</ul>
</div>

<div class="flex-container">
<div class="row-newquote">
    <div class="left-newquote">
        <div class="ugs">
            <a href="NewQuote.html" style="color:white; text-decoration: none;">
                <header>
                    <i class="fa-solid fa-less-than" style="padding-right:30px; padding-left: -7px;"></i></a>USE GUIDED SELLLING</header>
            
        </div>
        <div class="template">
            <form action="GuidedSelling.html">
                <select name="template-type" id="temp" required>
                    <% if(!catalog || catalog.length == 0) { %>
                        <option value="" selected disabled hidden id="dable">Select Guided Selling Template</option>

                    <% } else {
                       var num = 0;
                        catalog.forEach(function(data, i){ %>
                           <option value="<%= data.title %>"><%= data.title %></option>

                           
                       <%  
                        })
                    } %>
                    
                </select>
                <label id="l7" for="temp">GUIDED SELLING TEMPLATE</label>
                <button type="submit" id="create" disabled>CREATE</button>
            </form>
        </div>
    </div>
    <!-- End of left Section -->
    <div class="right-newquote hiddenH" id="iconhide" >
        <!-- hide content and display content only by 3 clicking icon -->
        <div class="radiotop">
            <select name="summary" id="weeks" >
                <option value="weeks" selected >WEEKS</option>
                <option value="months">MONTHS</option>
                <option value="years">YEARS</option>
            </select>
            <input type="radio" name="dateperiod" id="date" value="date" checked/>&nbsp;DATE
            <input type="radio" name="dateperiod" id="period" value="period"/>&nbsp;PERIOD
        </div>
        <div class="quotedetails">
            <select name="quotedetails" id="qdetails">
                <option value="export1">EXPORT 1</option>
                <option value="quotedetails" selected >QUOTE DETAILS</option>
            </select>
            <a href="#"><button class="product active">Price</button></a>
            <a href="#"><button class="product">Cost</button></a>
            <a href="#"><button class="product">Quantity</button></a>
            <a href="#"><button class="product" >FTE</button></a>
        </div>
    </div>
</div>
</div>

<%- include('footer') %>